body {
    background-color: gray;
} 



.planet-list img {
    width: 300px;
    height: 300px;
}



.main-planet-list {
    background-image: url("https://iai.tv/assets/Uploads/_resampled/FillWyI4MDAiLCI1MDAiXQ/Our-model-of-the-universe-has-been-falsified.dc.jpg"); 
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    /* margin: 0; */
    /* padding: 0; */





}







