/* body {
    background-image: url("https://s1.static.brasilescola.uol.com.br/be/2022/09/2-sistema-solar.jpg")
}  */



.planet-list img {
    width: 300px;
    height: 300px;
}



.main-planet-list {
    background-image: url("https://s1.static.brasilescola.uol.com.br/be/2022/09/2-sistema-solar.jpg");

}

